[submodule "pre-built-component"]
	path = pre-built-component
	url = ssh://git@gitlab.8gm.subdns.de:2222/z.amrani/pre-built-component.git
[submodule "src/prebuilt_components"]
	path = src/prebuilt_components
	url = ssh://git@gitlab.8gm.subdns.de:2222/z.amrani/pre-built-component.git
