body {
  overflow-y: scroll;
  background-color: white !important;
  box-sizing: border-box !important;
}

:root {
  --themeColor: #406a86;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 14px !important;
  font-family: Arial, Helvetica, sans-serif;
  color: #282c34;
  overflow: hidden;
  box-sizing: border-box !important;
}

a,
a:active,
a:focus {
  outline: none;
  /* Works in Firefox, Chrome, IE8 and above */
}

.delete-button {
  color: rgb(98, 1, 1);
}

.delete-button:hover {
  color: red;
  cursor: pointer;
}

button,
button:active,
button:focus {
  outline: none;
}

.properties-table {
  margin-bottom: 5em;
  table-layout: auto !important;
}

.sort-icon {
  margin-left: 2px;
}

tr.legende th {
  color: white !important;
  font-weight: normal;
}

.applicant-table th {
  font-weight: bold !important;
}

table.properties-table td:not(.small-td) {
  max-width: 12vw;
}

table.properties-table td {
  text-align: center;
  color: black;
}

.properties-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.properties-table tr:nth-child(odd) {
  background-color: #e8e8e8;
}

.properties-table tr:nth-child(even):hover {
  background-color: #cccccc;
  cursor: pointer;
}

.properties-table tr:nth-child(odd):hover {
  background-color: #cccccc;
  cursor: pointer;
}

table.properties-table thead tr {
  background-color: #406a86 !important;
  color: white !important;
}

.properties-table thead tr:not(.legende) td {
  color: white !important;
}

.tiny-td {
  width: 0.8%;
}

td.small-td {
  width: 1%;
  color: white !important;
}

td.medium-td {
  width: 6%;
}

td.medium-large-td {
  width: 8%;
}

td.large-td {
  width: 10%;
}

td.action-td {
  width: 4%;
}

td.action-td:hover,
td.no-sort:hover {
  cursor: default;
}

tr.property-table-row {
  height: 50px;
}

td {
  padding: 5px 0px;
}

thead td:hover {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

table {
  table-layout: fixed;
}

.legende td:hover {
  cursor: pointer;
}

.nohover th:not(.open-detail-row):hover {
  cursor: auto !important;
}

.ellipsis-nohover {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.05s linear;
  white-space: nowrap;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.05s linear;
  white-space: nowrap;
}

.ellipsis:focus,
.ellipsis:hover {
  color: transparent;
}

.ellipsis:focus:after,
.ellipsis:hover:after {
  content: attr(data-text);
  overflow: visible;
  text-overflow: inherit;
  background: #fff;
  left: auto;
  top: auto;
  width: auto;
  max-width: 20rem;
  border: 1px solid #eaebec;
  padding: 0 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
  white-space: normal;
  word-wrap: break-word;
  display: block;
  color: black;
  z-index: 999;
  margin-top: -1.25rem;
}

.overview-header {
  max-height: 15rem;
  min-height: 15rem;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  position: relative;
  z-index: 0;
}

.overview-header-wrapper {
  max-width: 99vw;
  margin: 0 auto;
}

@media only screen and (max-width: 960px) {
  .overview-header {
    max-height: none;
    margin-bottom: 1em !important;
  }
}

.overview-banner {
  position: absolute;
  height: 67%;
  bottom: 1em;
  left: 1em;
  opacity: 0.2;
}

.vertical-spacer-2 .MuiGrid-item {
  margin: 0px 8px 8px 0px;
}

@media only screen and (max-width: 600px) {
  .vertical-spacer-2 .MuiGrid-item {
    margin: 0px 8px 8px 8px;
  }
}

#mvnr-label {
  margin-bottom: 1em;
}

#paginator-wrapper {
  position: fixed;
  z-index: 99;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.95);
}

.items-per-row {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.table-loading {
  margin: 2em auto;
}

tr.loader-tr {
  background-color: white !important;
}

td.square-td {
  width: 2em !important;
}

table.applicant-table td:not(.small-td) {
  max-width: 12vw;
}

.applicant-table td.invisible-td {
  background-color: white !important;
}

table.applicant-table td {
  text-align: center;
  color: black;
}

.applicant-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.applicant-table tr:nth-child(odd) {
  background-color: #e8e8e8;
}

.applicant-table tr:nth-child(even):hover {
  background-color: #cccccc;
  cursor: pointer;
}

.applicant-table tr:nth-child(odd):hover {
  background-color: #cccccc;
  cursor: pointer;
}

table.applicant-table thead tr {
  background-color: #406a86 !important;
  color: white !important;
}

.applicant-table th {
  position: sticky;
  top: 0;
}

.applicant-table thead tr:not(.legende) td {
  color: white !important;
}

.table-actions {
  display: flex;
  padding: 0.5em 1em;
  align-items: stretch;
}

.table-actions:hover {
  cursor: default;
}

.applicant-table {
  width: 99vw;
  position: relative;
  /*table-layout: auto;*/
}

.rating-hover-table td {
  padding: 1px 0px;
}

.applicant-wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vertical-seperator {
  border-left: 1px solid white;
  margin: 0px 1em 0px 1em;
}

.Mui-disabled:hover {
  cursor: not-allowed !important;
}

.radio-btn {
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid;
  flex-grow: 1;
}

.radio-btn:not(:last-of-type) {
  margin-right: 2em;
}

.positive {
  border-color: green;
}

.negative {
  border-color: red;
}

.radio-btn span {
  width: 100%;
  height: 100%;
}

.radio-btn.spam input:checked ~ div {
  background-color: gray;
  transition: all 0.1s ease;
  color: white;
}

.radio-btn.spam div:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.radio-btn.positive input:checked ~ div {
  background-color: green;
  transition: all 0.1s ease;
  color: white;
}

.radio-btn.positive div:hover {
  background-color: rgba(0, 200, 0, 0.2);
}

.radio-btn.negative div:hover {
  background-color: rgba(200, 0, 0, 0.2);
}

.radio-btn.negative input:checked ~ div {
  transition: all 0.1s ease;
  background-color: red;
  color: white;
}

.radio-btn div {
  padding: 0.5em 0px;
  transition: all 0.1s ease;
}

.rate-icon {
  margin-right: 0.5em;
}

.radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rate-user-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip-delete-icon {
  color: rgba(167, 0, 0, 0.4) !important;
}

.chip-delete-icon:hover {
  color: red !important;
}

.applicant-detail-wrapper {
  max-width: 98vw;
  padding-left: 1px;
  margin: 1.5em auto;
  padding-top: 45px;
}

.demo-wrapper {
  display: flex !important;
  min-height: 100%;
  flex-direction: column;
}

.mail-wrapper {
  display: flex !important;
  /*min-height: 70%;*/
  flex-grow: 1;
  flex-direction: column;
}

.demo-wrapper-medium {
  width: 650px !important;
  display: block !important;
  margin-bottom: 50px !important;
}

.demo-editor {
  border: 1px solid rgb(200, 200, 200) !important;
  padding: 5px !important;
  border-radius: 2px !important;
  min-height: 10rem;
}

.rdw-editor-toolbar {
  border-color: rgb(200, 200, 200) !important;
}

.rdw-option-wrapper {
  height: 90% !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  box-sizing: border-box;
}

.rdw-option-wrapper:hover {
  box-shadow: none !important;
  border-color: #406a86 !important;
}

.rdw-dropdown-wrapper:hover {
  box-shadow: none !important;
  border-color: #406a86 !important;
}

.rdw-option-active {
  box-shadow: none !important;
  background-color: #406a86 !important;
  color: white !important;
  border: 1px solid #406a86 !important;
}

.rdw-option-active:hover {
  background-color: #6dabd4 !important;
}

.rdw-option-active img {
  filter: invert(1);
}

.rdw-editor-main {
  height: 100%;
  display: flex;
  flex-grow: 1;
}

.comment-wrapper {
  border: 2px solid black;
  position: relative;
  margin-top: 25px !important;
}

/*.comment-wrapper > div{
  border: 1px solid black;
}*/

.comment-icon {
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -20px;
  top: -20px;
  color: white;
}

.comment-comment {
  padding: 5px 16px;
}

.comment-comment p {
  word-wrap: anywhere;
}

.positive-comment-icon {
  background-color: green;
  border: 1px solid green;
}

.negative-comment-icon {
  background-color: red;
  border: 1px solid red;
}

.comment-author {
  padding: 5px 25px;
}

.comment-timestamp {
  text-align: right;
  font-style: italic;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.comment-first-line {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.MuiPickersBasePicker-pickerView {
  margin: 0 auto;
}

.detail-info-grid > .MuiGrid-item > .MuiGrid-item {
  margin-top: 0.5rem;
}

.detail-info-grid > .MuiGrid-item > .MuiGrid-item > .MuiGrid-item:nth-of-type(odd) {
  text-align: left;
  color: rgb(160, 160, 160);
  word-wrap: break-word;
}

.back-to-overview-btn {
  position: absolute;
  top: 0;
  background: #406a86;
  left: 0;
  padding: 0.7em 0px 0.7em 1rem;
  min-width: 8rem;
  border-bottom-right-radius: 10px;
  color: white;
  text-decoration: none;
  text-align: left;
  display: flex;
  align-items: center;
}

.back-to-overview-btn .back-btn-label {
  padding-left: 0.5rem;
  transition: 0.5s ease;
}

.back-to-overview-btn:hover {
  background-color: #22445a;
  cursor: pointer;
}

.back-to-overview-btn:hover .back-btn-label {
  padding-left: 1em;
  transition: 0.3s ease;
}

.dialogHeader {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.dialogHeader-disabled {
  color: rgb(153, 153, 153);
}

.extra-toolbar-option {
  margin-right: 0.5em !important;
  border-radius: 0px !important;
}

.RP-Datagrid .rendering-zone .MuiDataGrid-row:hover {
  cursor: pointer;
}

div[role='tooltip'] {
  z-index: 1500;
}

.email-preview {
  padding: 5px 2em;
  border: 1px solid darkslategray;
  background-color: white;
  color: rgb(75, 75, 75);
  width: 100%;
}

.unobtrusive-link {
  text-decoration: none;
  color: #0c69a7;
  overflow-wrap: anywhere;
}

.applicant-object-type-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.action-button {
  height: 100%;
}

.icon-stack > * {
  position: absolute;
}

.icon-stack {
  margin: 0em 0.5em;
}

.rotate45 {
  transform: translateX(-2px) rotate(30deg) scaleX(2.2) scaleY(1.2);
  opacity: 1;
}

.open-detail-row {
  width: 2em;
}

.open-detail-row > div {
  display: flex;
}

.applicant-extra-info-row:hover {
  background-color: white !important;
  cursor: auto;
}

.applicant-extra-info-row {
  background-color: white !important;
}

.extra-info-wrapper {
  margin-bottom: 1em;
  border-left: 2px solid var(--themeColor);
  border-right: 2px solid var(--themeColor);
  border-bottom: 2px solid var(--themeColor);
  text-align: left;
  width: 100%;
}

.extra-info-wrapper:hover {
  cursor: auto;
}

.applicant-extra-info-container {
  width: 100%;
  background-color: rgb(240, 240, 240);
  background-color: white !important;
}

.applicant-extra-info-container:hover {
  cursor: auto;
}

.applicantCommentContainer {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  position: relative;
  padding: 0px 1.5em;
  text-align: left;
}

.applicantCommentContainer > label {
  position: absolute;
  top: -10px;
  background-color: white;
  padding: 0px 5px;
  left: 1em;
}

.applicantCommentContainer .applicant-comment {
  font-style: italic;
  padding: 1em 0em;
}

.quartier-bild {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.applicant-paginator {
  position: fixed;
  bottom: 0.5em;
  background-color: white;
}

.ellipsis {
  overflow: hidden;
  height: 50px;
}

a.hover-indicator {
  transition: 0.2s ease all;
}

a.hover-indicator:hover {
  background-color: #282c34 !important;
  color: white !important;
  transition: 0.2s ease all;
}

th.square-td {
  width: 1em;
}
